# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Executable
bin/malice

# General rubbish
.*
!.git*

*~
\#*\#
auto-save-list
tramp
*~
*.sw[a-p]
.directory
*.un~
Thumbs.db
Desktop.ini
